<div class="container">
  <%= form_tag do %>
    <div style="text-align:center">
        <h5><%= t('you_are_viewing') %> <b><%= @user.name %></b></h5> </p>
    </div>

  <div id = "timesheets">
    <table id="timesheet" class="table table-bordered table-striped table-sm" cellspacing="10">
      <div class="form-group">
      <thead class="thead-inverse">
      <tr>
          <th> <b> <%= t('project_name') %></b></th>
          <th> <b> <%= (4.day.ago).to_date %> </b></th>
          <th> <b> <%= (3.day.ago).to_date %> </b></th>
          <th> <b> <%= (2.day.ago).to_date %> </b></th>
          <th> <b> <%= (Date.yesterday).to_date %> </b></th>
          <th> <b> <%= (Date.today).to_date %>,Today </b></th>
          <th> <b> <%= t('submitted_on') %> </b></th>
      </tr>
      </thead>
      </div>
       <div class="form-group">
       <% @timesheets.each do |t| %>
      <tr>
          <td id ="def_project_name"> <%= if @all_projects[0][0] == t.project_id then @all_projects[0][1] else @all_projects[1][1] end %> </td>
          <td id ="four_days_b4"><%= link_to t.timespend,timesheets_edit_path(id:  @user.id,timesheet_id: t.id) if t.date_worked == (4.day.ago).to_date %> </td>
          <td id ="three_days_b4"><%= link_to t.timespend,timesheets_edit_path(id:  @user.id,timesheet_id: t.id) if t.date_worked == (3.day.ago).to_date %>  </td>
          <td id ="two_days_b4"> <%= link_to t.timespend,timesheets_edit_path(id:  @user.id,timesheet_id: t.id) if t.date_worked == (2.day.ago).to_date %> </td>
          <td id ="one_day_b4"><%= link_to t.timespend,timesheets_edit_path(id:  @user.id,timesheet_id: t.id) if t.date_worked == (Date.yesterday) %>  </td>
          <td id ="today">  <%= link_to t.timespend,timesheets_edit_path(id:  @user.id,timesheet_id: t.id) if t.date_worked == (Date.today) %>  </td>
          <td id ="submitted_on">  <%=  t.created_at.strftime("%d %b. %Y") %>  </td>
      </tr>
      </div>
      <% end %>
      </div>
    </table>
  </div>
  <% end %>
</div>

<div class="container">
<div style="text-align:center">
        <h5><b><%= t('utilization_table') %></b> </h5> </p>
</div>
<div id = "utilization">
    <table id="calculation" class="table table-bordered table-striped table-sm" cellspacing="10">
      <div class="form-group">
      <thead class="thead-inverse">
      <tr>
          <th>  <b><%= t('project_name') %></b> </th>
          <th>  <b><%= (4.day.ago).to_date%> [hour]</b> </th>
          <th>  <b><%= (3.day.ago).to_date %> [hour]</b> </th>
          <th>  <b><%= (2.day.ago).to_date %> [hour] </b> </th>
          <th>  <b><%= (Date.yesterday).to_date %> [hour]</b> </th>
          <th>  <b><%= (Date.today).to_date %>,Today [hour]</b> </th>
          <th>  <b>Grand Total [hour] </b> </th>
          <th>  <b>Percentage Utilized(%) </b> </th>
      </tr>
      <% @all_projects.each do |proj| %>
      <tr id = "<%= proj[0] %>" > 
        <td> <b><%= proj[1] %> </b> </td>
        <td><%= @total_hours_4dayb4[proj[0]] %></td>
        <td><%= @total_hours_3dayb4[proj[0]] %></td>
        <td><%= @total_hours_dayb4yes[proj[0]] %></td>
        <td><%= @total_hours_yest[proj[0]] %></td>
        <td><%= @total_hours_today[proj[0]] %></td>
        <td> <%= @total_hours_in_last_5_days_4project[proj[0]] %></td>
        <td> <b><%= @percentage[proj[0]] %></b></td>
      </tr>
      <% end %>
      <tr> 
        <td> <b>Total</b> </td>
        <td> <b><%= @total_hours_worked[4] %></b></td>
        <td> <b><%= @total_hours_worked[3] %></b></td>
        <td> <b><%= @total_hours_worked[2] %></b></td>
        <td> <b><%= @total_hours_worked[1] %></b></td>
        <td> <b><%= @total_hours_worked[0] %></b></td>
        <td> <b><%= @total_hours_worked_for_last_5_days %></b></td>
        <td> <b><%= @total_perc_in_last_5_days_project %></b></td>
      </tr>   
      </thead>
      </div>
      </div>
    </table>
  </div>
</div>
</div>
